<article><div class="home"><p>Welcome to my portfolio site. Here, you’ll find a showcase of my work as a user interface and game programmer, including my most notable project: Call of Duty: Warzone.</p>

<p>Whether working solo or as part of a dynamic team, I bring a versatile skill set and a commitment to excellence. I have experience with a wide range of tools and languages.</p>

<p>I’ve successfully shipped projects for many platforms including CD-ROM, Web, iOS (iPhone and iPad), Android, VR, PC, Mac, Xbox, and PlayStation.</p>

<p>Feel free to explore my projects and reach out if you’re interested in discussing job opportunities or collaborations. I look forward to connecting with you!</p>
</div></article>