<article class="post">

  <header class="post-header">
    <h1 class="post-title">portfolio</h1>
  </header>

  <div class="post-content">
    <p><img src="/assets/images/warzone2.png" alt="Warzone 2" width="75%" /></p>
<h1 id="call-of-duty-warzone-2">Call of Duty Warzone 2</h1>
<p>I had the pleasure of working on my last major project at Raven Software, where I was instrumental in the development and launch of a highly successful feature for Call of Duty: Warzone—the Look For Party System.</p>

<p>I led the design and prototyping phases through to the live implementation, a testament to the feature’s impact and reception—it has since been integrated into all current and planned future Call of Duty titles.</p>

<p>Due to over-allocated resources, I took on full-stack responsibilities, handling the front, middle, and back ends of the feature while also contributing to the design. This challenge turned into a rewarding experience, allowing me to complete the feature with minimal support and within one additional sprint. <a href="https://www.callofduty.com/blog/2022/09/call-of-duty-warzone-new-map-al-mazrah-gulag-dmz-intel">More Details</a></p>

<p><img src="/assets/images/warzone.png" alt="Warzone 1" width="75%" /></p>
<h1 id="call-of-duty-warzone">Call of Duty Warzone</h1>
<p>Working on Call of Duty: Warzone was undoubtedly one of the highlights of my career so far. When Warzone first launched, it was an exhilarating time, and the game’s first year remains particularly special to me.</p>

<p>As the longest-serving and, at times, the sole UI engineer on Warzone 1, I was involved from prototyping all the way through to sunsetting, over a span of four years. This journey provided countless learning opportunities and was incredibly rewarding.</p>

<p>Some of my favorite contributions to the project include developing the Contract system for the HUD, creating a new splash system for the in-game HUD, and assisting in setting up the Plunder UI and game scripts. The experience of seeing these features come to life and being well-received by players was truly gratifying. <a href="https://callofduty.fandom.com/wiki/Call_of_Duty:_Warzone">More Details</a></p>

<p><img src="/assets/images/mwr.png" alt="Modern Warfare Remastered" width="75%" /></p>
<h1 id="call-of-duty-modern-warfare-remastered">Call of Duty Modern Warfare Remastered</h1>
<p>My first project at Raven Software was a remarkable experience. Our team consisted mostly of newcomers to AAA development, but we were fortunate to have two outstanding senior developers guiding and training us.</p>

<p>Being a relatively fresh team, it was an incredible honor to be awarded the title of Best Remaster of All Time for this game. The user interface was the most stable and polished I’ve ever worked on, and it was astonishingly close to bug-free at launch. <a href="https://callofduty.fandom.com/wiki/Call_of_Duty:_Modern_Warfare_Remastered">More Details</a></p>

<p><img src="/assets/images/radix.png" alt="Radix" width="75%" /></p>
<h1 id="the-radix-endeavor">The Radix Endeavor</h1>
<p>I thoroughly enjoyed working on this game, particularly because we programmed a functioning Mendelian evolution system that could be triggered mid-quest to have the world respond to player actions and scripted plot developments. This system resulted in varying plant and animal phenotypes and physical appearances, adding a unique depth to the game. I tested, debugged, and fixed quests on top of my UI and Gameplay programming work whenever needed.</p>

<p>This was also my first experience working on an MMO, making the network side of development incredibly fascinating. Initially, I was part of a two-person engineering team, but I eventually took the reins solo after launch, managing updates and maintenance.</p>

<p>This project provided my first opportunity to program an inventory GUI. It was a thrilling challenge to create something I had used for decades in games like WoW and other titles. <a href="https://www.youtube.com/@radixendeavor">More Details</a></p>

<p><img src="/assets/images/dd.png" alt="Disaster Detector" width="75%" /></p>
<h1 id="disaster-detector">Disaster Detector</h1>
<p>As the sole programmer on this project, I was thrilled with the result. I contributed to the game design and worked with an amazing team.</p>

<p>One highlight was programming the weather system and Doppler radar mode. Balancing visual appeal with efficiency was challenging but rewarding. It ran smoothly on tablets and accurately mapped in-game weather and severe storm gameplay elements.</p>

<p>Additionally, programming the analog tools’ behaviors and data was a lot of fun. <a href="https://ssec.si.edu/disaster-detector">More Details</a></p>

<p><img src="/assets/images/icivics.png" alt="iCivics" width="75%" /></p>
<h1 id="icivics-games-suite">iCivics Games Suite</h1>
<p>I contributed significantly to quality-of-life updates for these educational games and even programmed a few new ones. Features like a working mute button were essential for classroom use.</p>

<p>Programming games designed to teach kids about civics was a fantastic learning experience for me as well, I didn’t know how much I didn’t know about how our governments work. It was a privilege to work alongside a former Supreme Court Justice on this suite of games. <a href="https://ed.icivics.org/games">More Details</a></p>

<p><img src="/assets/images/rfts.png" alt="Reach For The Sun" width="75%" /></p>
<h1 id="reach-for-the-sun">Reach For The Sun</h1>
<p>One of my first professionally paid programming projects involved engineering significant post-launch improvements to this game. This engaging game teaches players about photosynthesis and plant biology. Players can select different plants and help them grow by applying in-game knowledge about balancing the growth of specific plant parts, managing resources, and combating pests. <a href="https://www.filamentgames.com/project/reach-for-the-sun/">More Details</a></p>
</div>
</article>