
<article class="post">
  <header class="post-header">
    <h1 class="post-title">resume</h1>
  </header>

  <div class="post-content">
    <h2 id="andrew-greenwood">Andrew Greenwood</h2>

<p>Andrew Greenwood is smart, talented, and creative with expertise in software engineering, business, and game development. He excels in lead, solo, and team settings, engineering critically acclaimed titles for all major devices using a wide range of toolsets and languages. Andrew is always ready to tackle new challenges and contribute wherever his skills can add value to the project.</p>

<h1 id="experience">Experience</h1>

<p><strong>UI/Game Engineer</strong><br />
<em>Raven Software (Activision)</em><br />
Mar 2016 - Mar 2023 · 7 yrs<br />
Middleton, Wisconsin</p>
<ul>
  <li>Engineer high quality user interfaces to spec, design and implement prototype interfaces</li>
  <li>Develop features, troubleshoot issues, and fix defects for ambitious, often concurrent, and state of the art video game projects while meeting demanding AAA development timelines</li>
  <li>Program in a robust codebase, building and staying in alignment with embedded multiple platform and region deliverable support for all games (PC, PS4, Xbox One, PS5, Xbox Series X/S)</li>
  <li>Provide technical counsel, documentation, review, and support</li>
  <li>Offer feedback and share ideas for game design, writing, art, and sound features, (when appropriate)</li>
  <li>Help build, ship, and maintain Warzone 2.0, COD MWII, COD Warzone, COD MW, COD Vanguard, COD WWII, COD MWR, COD BLOPS 4.</li>
</ul>

<p><strong>Game Engineer II</strong><br />
<em>Filament Games</em><br />
Sep 2012 - Jan 2016 · 3 years 5 months<br />
Madison, Wisconsin</p>
<ul>
  <li>Flash game development from design to release and beyond (AS3, Flash CS6, Flash CC)</li>
  <li>HTML5 game development (HTML, CSS, Javascript, Ajax, PHP, Canvas, DOM)</li>
  <li>Unity game development (C#)</li>
  <li>Program small scale to massively multiplayer games</li>
  <li>Program cross platform implementations of video games (iOS, Android, Web, Desktop)</li>
  <li>Build automation code and admin (Ant, Jenkins)</li>
  <li>Game server code and admin (Java)</li>
  <li>Lead release engineer on numerous projects</li>
</ul>

<p><strong>Owner/Studio Programmer</strong><br />
<em>Nebuloid</em><br />
Jan 2011 - Sep 2012 · 1 year 9 months<br />
Madison, Wisconsin</p>
<ul>
  <li>Develop Virtual Reality apps via Unity</li>
  <li>Develop iOS and Android apps via Unity</li>
  <li>Admin distribution and provisioning for apps</li>
  <li>Create music and sounds for apps</li>
  <li>Plan and execute releases and events for Nebuloid</li>
</ul>

<p><strong>Produce Department Lead</strong><br />
<em>Willy Street Coop</em><br />
Jan 2011 - Sep 2012 · 1 year 9 months<br />
Madison, Wisconsin</p>
<ul>
  <li>Develop Virtual Reality apps via Unity</li>
  <li>Develop iOS and Android apps via Unity</li>
  <li>Admin distribution and provisioning for apps</li>
  <li>Create music and sounds for apps</li>
  <li>Plan and execute releases and events for Nebuloid</li>
</ul>

  </div>

</article>